* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: content-box;
    background: #D8BFD8 url(thistle.jpg) center / cover no-repeat fixed;

    header {
        text-align: center;
        padding: 10px;
        background-color: teal;
    }

    footer {
        text-align: center;
        padding: 10px;
        background-color: tomato;
    }

    [id ="main-title"] {
        text-transform: uppercase;
        word-spacing: 10px;
        kerning: -3px;
        margin-bottom: 0px;
        text-shadow: 2px 2px 5px tan;
    }

    [class = "intro"] {
        font-size: 1.5em;
        margin-top: 0px;
        text-decoration: underline;
    }

    section > img {
        display: block;
        width: 25vw;
        height: 25vh;
        margin: auto;
    }

    div img{
        width: 50px;
        height: 50px;
        margin-right: 10px;
        float: left; 
    }

    .container ul {
        list-style-type: none;
        clear: left;
    }

    a[target = "_blank"]{
        font-size: 15px;
        color: red;
    }
    a[href = "/internal-page"]{
        font-size: 18px;
        color: white;
    }

    a:hover {
        color: green;
        font-size: 17px;
    }

    .container ul {
        list-style-type: none; /* removes bullets */
        clear: left; /* removes effect of float:left */
        padding: 0; /* removes the spaces surrounding the li/s */
      }
      
    .container ul li {
    width: 150px;
    padding: 5px;
    background-color: cornsilk;
    text-align: center;
    display: inline-block;
    border-radius: 0px 25px;
    z-index: +1;
    }
}